#que_box
{
   overflow-y:scroll;
   margin-top:110px;
   width:900px;
   height:520px;
   border:6px solid #87cfe6; 
   border-radius:15px;
   padding-left:30px;
   
}
#timer
{
   margin-top:-3px;
   margin-right:10px;
   float:right;
   font-size:50px;
}
div#answered
{
  float:right;
  margin-right:5px;
  display:inline-block;
  width:50px;
  text-align:center;
  background-color:springgreen;
  color:black;
  border:2px solid black;
  border-radius:5px;
}
div#review
{

  float:right;
  margin-right:5px;
  display:inline-block;
  width:50px;
  text-align:center;
  background-color:violet;
  color:black;
  border:2px solid black;
  border-radius:5px;
}
div#notanswered
{

  float:right;
  margin-right:5px;
  display:inline-block;
  width:50px;
  text-align:center;
  background-color:rgb(135,207,230);
  color:black;
  border:2px solid black;
  border-radius:5px;
}
